@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body {
		background-image: url('/images/cinema3.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    

<div class="text-center">
    <h1 style="font-family:verdana;color:white;">Welcome</h1>
    <!--p!>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p-->
    <img src="/images/Ghostbusters1.png" alt="Ghostbusters1"width="247" height="340">
    <img src="/images/ghostbuster2.jpg" alt="Ghostbusters2"width="247" height="340">
    <img src="/images/riobravo.jpg" alt="RioBravo"width="247" height="340">
    <img src="/images/whenharrymetSally.jpg" alt="When Harry Met Sally"width="247" height="340">
</div>

    
